:root {
  --black-font-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --bcg-ourteam-color: #f5f4fa;
  --bcg-footer-heroes-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --wwd-color: #e5e5e5;
  --icon-color: #afb1b8;
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --btn-hover-color: #188ce8;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}
/* *,
::before,
::after {
  box-sizing: inherit;
} */
body {
  background-color: var(--white-color);
  color: var(--black-font-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
}
/**********************************
|                RESET            |
*********************************/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/**********************************
|            END RESET            |
*********************************/

/**********************************
|          VISUAL HIDDEN          |
*********************************/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/**********************************
|       CONTAINER & UTILITIES     |
*********************************/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid tomato; */
}
.section {
  padding: 94px 0;
}
/**********************************
|              HEADER             |
*********************************/
.page-header {
  /* padding-top: 25px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/*FLEX*/
.header-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-contacts {
  margin-left: auto;
}
/*FLEX_ENDED*/
.logo {
  color: var(--black-font-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
}

.link {
  text-decoration: none;
  display: block;
  transition: color 250ms var(--animation-cubic);
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--black-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-policy {
  color: var(--blue-color);
  margin-left: 5px;
}

.nav-link:hover,
.link:focus,
.nav-link:focus,
.contacts-link:hover,
.web-logo,
.web-logo:focus,
.address-link-map:hover,
.address-link:hover {
  color: var(--blue-color);
}

.current {
  color: var(--blue-color);
}

.contacts-link {
  font-weight: 500;
  color: var(--grey-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contatcts-icon {
  fill: currentColor;
  margin-right: 10px;
}
.list {
  list-style: none;
}
/**********************************
|           END HEADER            |
*********************************/

/**********************************
|          HERO SECTION           |
*********************************/
.hide {
  display: none;
}
.hero {
  /* background-color: var(--bcg-footer-heroes-color); */
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
/********HERO-OVERLAY**********/
.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-color: var(--bcg-footer-heroes-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto 30px;
}
/**********************************
|          MODAL WINDOW           |
*********************************/

/* 1-st solution is the best choise*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms var(--animation-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  /* min-height: 581px; */
  min-width: 528px;
  padding: 40px 39px 40px 41px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms var(--animation-cubic), opacity 250ms var(--animation-cubic);
}

/**********************************
|          FORM-FIELD             |
*********************************/
.modal-title {
  /* text-align: center; */
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form {
  width: 100%;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
}
/* .form-field:not(:last-child) {
  margin-bottom: 10px;
} */
.form-field + .form-field {
  margin-top: 10px;
}

.form-label {
  text-align: left;
  font-size: 12px;
  color: var(--grey-color);
  margin-bottom: 4px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  padding: 12px 0 12px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--animation-cubic);
}

textarea {
  resize: none;
}

.form-input-footer:focus,
.form-input:focus,
.form-input:focus-visible,
.form-field .comment:focus {
  border-color: var(--blue-color);
  cursor: pointer;
}

.form-input:focus + .form-icon {
  fill: var(--blue-color);
}
.form-field .comment {
  padding: 12px 16px;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.16;
  letter-spacing: 0.01em;
  border-color: rgba(117, 117, 117, 0.5);
  border-radius: 4px;
}
/* .form-field[type='checkbox'] {
 
} */

.form-field.policy-box {
  margin-bottom: 30px;
}

.policy {
  color: var(--grey-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

/*****------VAR-1----------**********/
/* .policy::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid var(--black-font-color);
  border-radius: 2px;
  margin-right: 7px;
}

.policy-check:checked + .policy::before {
  border: none;
  background-image: url(../images/chek-bl.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
/*****------VAR-1--END-----**********/
/***********VAR-2--****************/
.policy span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-font-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-check:checked + .policy span {
  border: none;
  background-color: var(--blue-color);
  transition: background-color 250ms var(--animation-cubic);
}

.policy-check:checked + .policy .policy-icon {
  fill: var(--white-color);
  transition: fill 250ms var(--animation-cubic);
}
/***********VAR-2--END****************/
.policy-icon {
  fill: transparent;
}

.input-box {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--animation-cubic);
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 8px;
  width: 30px;
  height: 30px;
  transform: translateY(25%);
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.form-icon-close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-25%, 25%);
  border: violet;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--animation-cubic);
}

.form-icon-close:hover {
  fill: var(--blue-color);
}

/**********************************
|         END HERO SECTION        |
*********************************/

/**********************************
|     PECULIARITIES SECTION       |
*********************************/
.peculiarities {
  padding-bottom: 0px;
}
.pcls-section-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.pcls-section-post {
  line-height: 1.71;
  color: var(--grey-color);
  text-align: left;
  max-width: 270px;
}
.pcls-section-list {
  display: flex;
  justify-content: center;
}

.pcls-item:not(:last-child) {
  margin-right: 30px;
  margin-left: auto;
}
/*-------------PCLS-ICONS-------------*/
.box-pcls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bcg-ourteam-color);
  margin-bottom: 30px;
}
.pcls-icon {
  width: 70px;
  height: 70px;
}
/**********************************
|    END PECULIARITIES SECTION    |
*********************************/

/**********************************
|         WHAT WE DO SECTION      |
*********************************/
.box-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wwd-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.wwd-overlay-post {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.wwd-section-title,
.team-section-title-head {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.wwd-section-list {
  display: flex;
  justify-content: center;
}
.wwd-item:not(:last-child) {
  margin-right: 34px;
}
/**********************************
|     END WHAT WE DO SECTION      |
*********************************/
/**********************************
|           TEAM SECTION          |
*********************************/
.team {
  background-color: var(--bcg-ourteam-color);
}
.team-section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-section-post {
  font-size: 16px;
  line-height: 1.18;
  color: var(--grey-color);
  margin-top: 10px;
  margin-bottom: 16px;
}
.team-section {
  background-color: var(--bcg-ourteam-color);
}
.team-section-list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*ВЫРАВНИВАНИЕ ТЕКСТА В КАРТОЧКАХ*/
.box-team-section-text {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 0;
  border: transparent;
  border-radius: 0px 0px 4px 4px;
}
/**********************************
|         SOCIAL LINKS           |
*********************************/
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: background-color 250ms var(--animation-cubic);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/**********************************
|         END SOCIAL LINKS        |
*********************************/
/**********************************
|          END TEAM SECTION       |
*********************************/

/**********************************
|           CLIENTS SECTION       |
*********************************/
.clients-section-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  /* background-color: teal; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 5px;
}

.clients-link:hover {
  border: 1px solid var(--blue-color);
  border-radius: 5px;
}
.clients-icon {
  fill: currentColor;
}
.clients-icon:hover {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--blue-color);
}
/**********************************
|       END CLIENTS SECTION       |
*********************************/

/**********************************
|              FOOTER             |
*********************************/
.footer {
  background-color: var(--bcg-footer-heroes-color);
  padding: 60px 0;
}
.address {
  font-style: inherit;
}
.address-link-map {
  line-height: 1.71;
  color: var(--white-color);
}
.address-link {
  line-height: 1.71;
  color: var(--footer-contacts-color);
}
.studio {
  color: var(--white-color);
}
.footer-logo {
  margin-bottom: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

/*********JOIN FOOTER**********/
.footer-join {
  /* display: block; */
  margin-left: 70px;
}
.footer-title {
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: bold;
  margin-bottom: 20px;
}
.join-list {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.join-social-icon {
  fill: var(--white-color);
}
.join-social-item + .join-social-item {
  margin-left: 10px;
}
.join-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: background-color 250ms var(--animation-cubic);
}
.join-social-link:hover,
.join-social-link:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}
.footer-all {
  display: flex;
  align-items: baseline;
}
/********END JOIN FOOTER*********/
/**********FOOTER SUBMIT*********/
.footer-submit {
  margin-left: 93px;
}

.form-field-footer {
  display: flex;
}

.form-input-footer {
  width: 358px;
  background-color: var(--bcg-footer-heroes-color);
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-icon {
  vertical-align: middle;
}
/**********************************
|           END FOOTER            |
*********************************/
/**********************************
|          START BUTTONS          |
*********************************/
.btn {
  cursor: pointer;
  background-color: var(--bcg-ourteam-color);
  color: var(--black-font-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-color: transparent;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms var(--animation-cubic);
}
.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.btn.btn-main {
  color: var(--white-color);
  background-color: var(--blue-color);
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  transition: background-color 250ms var(--animation-cubic), box-shadow 250ms var(--animation-cubic);
}
.btn.btn-main:hover {
  background-color: var(--btn-hover-color);
}
/*КНОПКИ ПОРТФОЛИО*/
.section-pfo-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}
.btn-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-submit,
.btn-footer {
  color: var(--white-color);
  background-color: var(--blue-color);
  transition: background-color 250ms var(--animation-cubic);
  /* margin-top: 30px; */
}
.btn-submit:hover,
.btn-submit:focus,
.btn-footer:hover,
.btn-footer:focus {
  background-color: var(--btn-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn-footer {
  margin-left: 12px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
}
/**********************************
|          END BUTTONS            |
*********************************/

/**********************************
|          START PORTFOLIO        |
*********************************/
.section-pfo-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  /* margin-left: -30px;
  margin-bottom: -30px; */
}
.pfo-item {
  width: calc(100% / 3 - 30px);
  /* margin-left: 30px;
  margin-bottom: 30px; */
  margin: 15px;
}
/* .pfo-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
  margin-bottom: 30px;
} */
.section-pfo-title {
  color: var(--black-font-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.section-pfo-post {
  color: var(--black-font-color);
  font-size: 16px;
  line-height: 30px;
  color: var(--grey-color);
}
.box-section-pfo-title {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.section-pfo-link:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/**********************************
|    START OVERLAY PORTFOLIO      |
*********************************/
.section-pfo-link {
  transition: box-shadow 250ms var(--animation-cubic);
}

.section-pfo-link:hover .pfo-box-overlay,
.section-pfo-link:focus .pfo-box-overlay {
  transform: translatey(0%);
}

.pfo-box-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pfo-box-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  transition: transform 250ms var(--animation-cubic);
}

.pfo-post-overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
}
/**********************************
|      END OVERLAY PORTFOLIO      |
*********************************/
/**********************************
|          END PORTFOLIO          |
*********************************/
